<div id="addp">
  <aside class="w-full md:w-64 bg-white border-b md:border-r">
    <div class="p-4 space-y-4"> <a href="/particulier/posts"
                                   class="flex items-center space-x-3 px-4 py-3 rounded-lg hover:bg-gray-50 transition-all group"> <span
      class="material-symbols-outlined group-hover:text-[#2E7D32]">article</span> <span
      class="group-hover:text-[#2E7D32]">My Posts</span> </a> <a href="/particulier/add-post"
                                                                 class="flex items-center space-x-3 px-4 py-3 rounded-lg hover:bg-gray-50 transition-all group"> <span
      class="material-symbols-outlined group-hover:text-[#2E7D32]">add_circle</span> <span
      class="group-hover:text-[#2E7D32]">Add Post</span> </a> <a href="/particulier/exchange"
                                                                 class="flex items-center space-x-3 px-4 py-3 rounded-lg hover:bg-gray-50 transition-all group"> <span
      class="material-symbols-outlined group-hover:text-[#2E7D32]">currency_exchange</span> <span
      class="group-hover:text-[#2E7D32]">Exchange</span> </a>
      <a href="/particulier/profile"
         class="flex items-center space-x-3 px-4 py-3 rounded-lg hover:bg-gray-50 transition-all group"> <span
        class="material-symbols-outlined mr-3 group-hover:text-[#2E7D32]">person</span>My Profile </a>
    </div>
  </aside>
</div>
